<div class="container fixed-top">
  <nav class="navbar navbar-expand-md bg-white border-bottom mb-4">
    <div class="col-md-4">
      <a href="#"><img src="./img/logo.png" alt="logo" height="40rem"></a>
    </div>
    <div class="col-md-4">
      <form class="from-inline my-2 my-lg-0 d-flex  ">
        <input class="form-control mr-md-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
        <button class="btn btn-inline-light my-2 my-md-0" type="submit">Tìm kiếm</button>
      </form>
    </div>    
    <div class="col-md-4">
      <ul class="navbar-nav float-right  align-self-center">
        <li class="nav-item mr-md-3">
          <a href="#"><img src="/img/mess.png" alt="mess" height="25rem"></a>
        </li>        
        <li class="nav-item mr-md-3">
          <a href="#"><img src="/img/heart.png" alt="notify" height="25rem"></a>
        </li>
        <li class="nav-item rounded-circle">
          <a href="#"><img src="<%= myInfo.avatar %>" class=" rounded-circle" alt="notify" height="40rem"></a>
        </li>
      </ul>
    </div>
  </nav>
</div>